<div class="">
  <div class="headblock">
    <section-title text="Create a Web Account: Step 3" user-selection="userSelection"></section-title>
    <!--<h1>Apple Inc. - Create a Web Account: Step 3</h1>-->
  </div>
  <p id="mobileStepTracker" class="displayMobileOnlyView">3 of 4
  </p>
  <div id="section">
    <div id="progress4step">
      <div id="bar" class="s3">
        <div id="marker"></div>
      </div>
    </div>
    <p class="screenreaderHint">The following steps are tracking your
      progress.</p>
    <ol id="steps" class="text_4step">
      <li id="enterPersonalInformation_1_of_4" class="step">
        <span class="displayDesktopOnlyView">Enter Personal Information</span>
      </li>
      <li id="contactInformation_2_of_4" class="step">
        <span class="displayDesktopOnlyView">Contact Information</span>
      </li>
      <li id="additionalInformation_3_of_4_active" class="stepactive">
        <span class="displayDesktopOnlyView">Additional Information</span>
        <span class="screenreaderHint"> (Current Step)</span>
      </li>
      <li id="createAccount_4_of_4" class="step">
        <span class="displayDesktopOnlyView">Create Account</span>
      </li>
    </ol>
  </div>
  <h2><span id="title">Enter Additional Information</span></h2>
  <p><span id="collectedOnBehalfMsg">The following information is being collected on behalf of Apple Inc..</span>
  </p>
  <p class="requiredText"><span id="requiredMsg"></span></p><p><em>Required
  information is marked with an asterisk (*).</em></p><p></p>
  <p class="romanAlphabet">Enter information on this page in the Roman alphabet.
    (Alphanumeric)</p>
  <form id="additionalInformationForm" name="additionalInformationForm">
    <input
        id="defaultButton-additionalInformationForm" name="nextButton" type="submit"
        value="Next" class="btn" aria-hidden="true" tabindex="-1"
        style="position: absolute; left: -999px; top: -999px; height: 0px; width: 0px;">
    <div id="questionsContainer">
      <div id="categoryContainer" class="formSectionBlock">
        <div id="j_id66" class="formblock">
          <div class="">
            <label id="question_prompt_component1_TEXT_1353" for="component1_TEXT_1353" class="">
            <span id="text_component1_TEXT_1353">What is the company name of your employer?
            </span>
            </label>
            <input type="hidden"
                   id="parentQuestionsIds_component1_TEXT_1353"
                   name="parentQuestionsIds_component1_TEXT_1353"
                   value="">
            <input id="component1_TEXT_1353"
                   name="component1_TEXT_1353" type="text"
                   data-ng-model="userSelection.applicant.additionalInfo.employerName"
                   value="" autocomplete="off" class="" onfocus="doFocus(this, 1);" onblur="doFocus(this, 0);">
          </div>
        </div>
        <div id="j_id72" class="formblock">
          <div class="">
            <fieldset>
              <legend>
								<span id="question_prompt_component1_SELECT_ONE_RADIOBUTTON_1354">
                  <span
                      id="text_component1_SELECT_ONE_RADIOBUTTON_1354">Do you work for a Apple Partner or Reseller?
                  </span>
								</span>
              </legend>
              <input type="hidden"
                     id="parentQuestionsIds_component1_SELECT_ONE_RADIOBUTTON_1354"
                     name="parentQuestionsIds_component1_SELECT_ONE_RADIOBUTTON_1354"
                     value="">
              <table role="presentation" class="radioTable"
                     id="component1_SELECT_ONE_RADIOBUTTON_1354">
                <tbody>
                <tr>
                  <td><input id="component1_SELECT_ONE_RADIOBUTTON_1354:0"
                             type="radio"
                             data-ng-model="userSelection.applicant.additionalInfo.workForPartnerOrSeller"
                             name="component1_SELECT_ONE_RADIOBUTTON_1354"
                             value="Yes"><label
                      for="component1_SELECT_ONE_RADIOBUTTON_1354:0">
                    &nbsp;Yes</label></td>
                </tr>
                <tr>
                  <td><input id="component1_SELECT_ONE_RADIOBUTTON_1354:1"
                             type="radio"
                             data-ng-model="userSelection.applicant.additionalInfo.workForPartnerOrSeller"
                             name="component1_SELECT_ONE_RADIOBUTTON_1354"
                             value="No"><label
                      for="component1_SELECT_ONE_RADIOBUTTON_1354:1">
                    &nbsp;No</label></td>
                </tr>
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
        <div id="j_id79" class="formblock">
          <div class="">
            <fieldset>
              <legend>
								<span
                    id="question_prompt_component1_SELECT_ONE_RADIOBUTTON_1355">
                                    <span
                                        id="text_component1_SELECT_ONE_RADIOBUTTON_1355">Have you taken a Apple  exam before?
                                    </span>
								</span>
              </legend>
              <input type="hidden"
                     id="parentQuestionsIds_component1_SELECT_ONE_RADIOBUTTON_1355"
                     name="parentQuestionsIds_component1_SELECT_ONE_RADIOBUTTON_1355"
                     value="">
              <table role="presentation" class="radioTable"
                     id="component1_SELECT_ONE_RADIOBUTTON_1355">
                <tbody>
                <tr>
                  <td><input id="component1_SELECT_ONE_RADIOBUTTON_1355:0"
                             type="radio"
                             data-ng-model="userSelection.applicant.additionalInfo.takenExamBefore"
                             name="component1_SELECT_ONE_RADIOBUTTON_1355"
                             value="Yes"><label
                      for="component1_SELECT_ONE_RADIOBUTTON_1355:0">
                    &nbsp;Yes</label></td>
                </tr>
                <tr>
                  <td><input id="component1_SELECT_ONE_RADIOBUTTON_1355:1"
                             type="radio"
                             data-ng-model="userSelection.applicant.additionalInfo.takenExamBefore"
                             name="component1_SELECT_ONE_RADIOBUTTON_1355"
                             value="No"><label
                      for="component1_SELECT_ONE_RADIOBUTTON_1355:1">
                    &nbsp;No</label></td>
                </tr>
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
        <div id="j_id86" class="formblock">
          <div class="">
            <fieldset>
              <legend>
								<span
                    id="question_prompt_component1_SELECT_ONE_RADIOBUTTON_1356">
                                    <span
                                        id="text_component1_SELECT_ONE_RADIOBUTTON_1356">Are you a Apple  employee?
                                    </span>
								</span>
              </legend>
              <input type="hidden"
                     id="parentQuestionsIds_component1_SELECT_ONE_RADIOBUTTON_1356"
                     name="parentQuestionsIds_component1_SELECT_ONE_RADIOBUTTON_1356"
                     value="">
              <table role="presentation" class="radioTable"
                     id="component1_SELECT_ONE_RADIOBUTTON_1356">
                <tbody>
                <tr>
                  <td><input id="component1_SELECT_ONE_RADIOBUTTON_1356:0"
                             type="radio"
                             data-ng-model="userSelection.applicant.additionalInfo.employee"
                             name="component1_SELECT_ONE_RADIOBUTTON_1356"
                             value="Yes"><label
                      for="component1_SELECT_ONE_RADIOBUTTON_1356:0">
                    &nbsp;Yes</label></td>
                </tr>
                <tr>
                  <td><input id="component1_SELECT_ONE_RADIOBUTTON_1356:1"
                             type="radio"
                             data-ng-model="userSelection.applicant.additionalInfo.employee"
                             name="component1_SELECT_ONE_RADIOBUTTON_1356"
                             value="No"><label
                      for="component1_SELECT_ONE_RADIOBUTTON_1356:1">
                    &nbsp;No</label></td>
                </tr>
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
        <div id="j_id93" class="formblock">
          <div class="">
            <label id="question_prompt_component1_TEXT_1357"
                   for="component1_TEXT_1357" class="">
										<span id="text_component1_TEXT_1357">If employee, what is your Employee number?
										</span>
            </label><input type="hidden"
                           id="parentQuestionsIds_component1_TEXT_1357"
                           name="parentQuestionsIds_component1_TEXT_1357"
                           value="">
            <input id="component1_TEXT_1357"
                   name="component1_TEXT_1357" type="text"
                   data-ng-model="userSelection.applicant.additionalInfo.employeeNumber"
                   value="" autocomplete="off" class=""
                   onfocus="doFocus(this, 1);" onblur="doFocus(this, 0);">
          </div>
        </div>
        <div id="j_id99" class="formblock">
          <div class="">
            <label id="question_prompt_component1_TEXT_1791"
                   for="component1_TEXT_1791" class="">
										<span id="text_component1_TEXT_1791">What is your Networking Academy ID?
										</span>
            </label><input type="hidden" id="parentQuestionsIds_component1_TEXT_1791" name="parentQuestionsIds_component1_TEXT_1791" value="">
            <input id="component1_TEXT_1791"
                   name="component1_TEXT_1791" type="text"
                   data-ng-model="userSelection.applicant.additionalInfo.networkingAcademyId"
                   value="" autocomplete="off" class=""
                   onfocus="doFocus(this, 1);" onblur="doFocus(this, 0);">
          </div>
        </div>
        <div id="j_id105" class="formblock">
          <div class="">
            <label id="question_prompt_component1_SECRET_1792"
                   for="component1_SECRET_1792" class="">
										<span id="text_component1_SECRET_1792">What is your Networking Academy Username?
										</span>
            </label>
            <input type="hidden" id="parentQuestionsIds_component1_SECRET_1792" name="parentQuestionsIds_component1_SECRET_1792"
                   value="">
            <input type="password"
                   id="component1_SECRET_1792"
                   data-ng-model="userSelection.applicant.additionalInfo.networkingAcademyUsername"
                   name="component1_SECRET_1792" class=""
                   onfocus="doFocus(this, 1);"
                   onblur="doFocus(this, 0);">
          </div>
        </div>
        <div id="j_id111"><input type="hidden" id="component1_component_handler"
                                 name="component1_component_handler"
                                 value="1481085719133"></div>

        <script type="text/javascript"><!--

        /*<![CDATA[*/
        var $$ = jQuery.noConflict();

        function focusOnElement(element) {
          document.getElementById(element.id).focus();
        }
        // Selecting a particular answer of certain parent questions triggers an ajax submit of the form.
        // This causes some validation failures of some other conditional question fields and makes the fields'
        // style class to be error type.The purpose of this function is to make those conditional labels and
        // fields to be of yellow warning type style class during ajax submit.
        function updateDependentFieldsCssStyles(triggeringElement) {

          var triggeringElemQuestionId = findQuestionIdFromString(triggeringElement.name);
          // Next to every required indicator cells there is a hidden span astores
          // possible ids of all possible questions that that required field is conditionally
          // dependent and conditionally required. Here we go through all those spans and
          // look for parent question id that matches the question id of triggering element.
          // The previous sibling of the matching span element if label of the dependent question.
          // we retrieve the question id from id of the label and find among all.

          //log.debug("triggeringElemQuestionId " + triggeringElemQuestionId);
          $$("div span.hideRow").each(function (n) {
            var parentIds = this.innerHTML;
            var parentIdArr = parentIds.split(",");
            for (var i = 0; i < parentIdArr.length; i++) {
              if (triggeringElemQuestionId == parentIdArr[i]) {
                var prevElem = this.previousSibling;
                //log.debug("prevElem ID " + prevElem.id);
                $$(prevElem).removeClass("warning_label").addClass("fieldLevelError");
                var labelElem = prevElem.parentNode.nextSibling.firstChild;
                //log.debug("labelElem ID " + labelElem.id);
                $$(labelElem).removeClass("warning_textonly").addClass("error");
                var dependentQuestionId = findQuestionIdFromString(this.id);
                //log.debug("dependentQuestionId " + dependentQuestionId);
                $$("input").each(function (n) {
                  var questionId = findQuestionIdFromString(this.name);
                  //log.debug("questionId " + questionId);
                  if (questionId == dependentQuestionId) {
                    $$(this).removeClass("error").addClass("advisory_field");
                  }
                });
                break;
              }
            }
          });
        }

        function findQuestionIdFromString(str) {
          var strArr = [];
          strArr = str.split("_");
          var lastItem = strArr[strArr.length - 1];
          // we need check for '.' at the end since day, month and year input field ids of the date component
          // have '.day', '.month' and '.year' at the end of their individual ids.
          var lastItemArr = lastItem.split(".");
          if (lastItemArr.length > 1) {
            return lastItemArr[0];
          }
          return lastItem;
        }
        /*]]>*/

        //--></script>
      </div>
    </div>
    <div class="buttonArea">
      <div class="previous">
        <a id="prevButton" name="prevButton" class="btn_link" data-ng-href="#/contactInfo">Previous</a>
      </div>
      <div class="forward">
        <a id="nextButton" name="nextButton" class="btn" data-ng-href="#/createAcct"><font color="#FFF">Next</font></a>
      </div>
    </div>
    <input type="hidden" name="additionalInformationForm_SUBMIT" value="1"><input
      type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState"
      value="t8TkZjOR3EIrKzVWfbEG+siCJEVw2t2GjRtmYWz2lmLZoIfo9a/gFE5diVxoIPYboDEB/1SmzQ3RWNDEQHFLW2MGHkk57RE/c90/4rp2KVADehnQJHkQeZ7iU7RSaeo4pK6xxS1bWvwO256VBXtENg==">
  </form>
</div>
