<div id="signin">
  <div id="container">
    <div id="maincontent">
      <div class="headblock">
        <div class="formSectionBlock">
          <p><a href="http://localhost:8080/RA/#/register">Pearson VUE Registration</a></p>
          <p><a href="http://localhost:8080/RA/#/register/cisco">Cisco Registration</a></p>
          <p><a href="http://localhost:8080/RA/#/register/apple">Apple Registration</a></p>
          <p><a href="http://localhost:8080/RA/#/register/oracle">Oracle Registration</a></p>
        </div>
      </div>
    </div>
  </div>
</div>